---
layout: default
---

<head>
</head>


<section id="front-page">

    <div class="container">

        <div class="col-lg-12 col-lg-offset-0 text-center">

            <h1 class="section-heading text-center no-margin-bottom">Acoustics and Mixed Realities</h1>
            <h2 class="text-center">Research and Programming Projects</h2>

            <br> <br>

            <div id="panels-list" class="row pack">
                
                <!-- alphabetical order -->
                {% assign sortedPages = site.pages | sort:'title' %}

                {% for page in sortedPages %}
                {% if page.thumbnail %}
                {% unless page.hidden %}

                <div class="col-12 col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 card">
                <a href="{{ page.url | prepend: site.baseurl }}" class="index-anchor">
                    <div class="panel panel-default">

                      <img class="panel-img" src="{{site.baseurl}}/img/{{page.thumbnail}}" alt="{{post.title}}">

                      <div class="panel-body">
                        <h3 class="panel-title">{{ page.title | truncate: 25 }}</h3>

                        <p class = "text-left" style="margin-bottom:0;" ><small>
                        <!-- {{ post.description | strip_html | strip_newlines | truncate: 57 }} -->
                        {{ page.description }}
                        </small></p>
                      </div>

                    </div>
                </a>

                </div>

                {% endunless %}
                {% endif %}
                {% endfor %}

            </div>

        </div>
    </div>
</section>
