<div class="navbar navbar-bottom">

    <div class="col-xs-1 col-xs-offset-2 text-center">
        <a href="https://github.com/PyrApple">
          <i class="fa fa-github fa-2x wow bounceIn" style="color:rgba(255,255,255, 0.7)" data-wow-delay=".1s"></i>
          <p></p>
        </a>
    </div>
    <div class="col-xs-1 col-xs-offset-1 text-center">
        <a href="https://www.youtube.com/channel/UCB5rH9CGWx2KAvnwgBzuGjQ">
          <i class="fa fa-youtube fa-2x wow bounceIn" style="color:rgba(255,255,255, 0.7)" data-wow-delay=".1s"></i>
          <p></p>
        </a>
    </div>
    <div class="col-xs-1 col-xs-offset-2 text-center">
        <a href="https://www.linkedin.com/profile/preview?locale=fr_FR&trk=prof-0-sb-preview-primary-button">
          <i class="fa fa-linkedin fa-2x wow bounceIn" style="color:rgba(255,255,255, 0.7)" data-wow-delay=".1s"></i>
          <p></p>
        </a>
    </div>
    <div class="col-xs-1 col-xs-offset-1 text-center">
        <a href="https://www.researchgate.net/profile/David_Poirier-Quinot">
          <i class="fa fa-book fa-2x wow bounceIn" style="color:rgba(255,255,255, 0.7)" data-wow-delay=".1s"></i>
          <p></p>
        </a>
    </div>

</div>
