<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <!-- <div class="container-fluid"> -->
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <li> -->
                <a class="navbar-brand page-scroll navbar-link" href="{{ site.baseurl }}/index.html">David Poirier-Q.</a>
            <!-- </li> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse nav-fill" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav nav-fill w-100">

                <li class="dropdown">
                    <a href="" class="page-scroll dropdown-toggle navbar-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
                    <ul class="dropdown-menu" style="right: auto; left: auto;">
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/3dti.html">3D Tune-In (2018)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/anaglyph.html">Anaglyph (WIP)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/blendervr.html">BlenderVR (2016)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/cloud-theatre.html">Cloud Theatre (WIP)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/cosima.html">CoSiMa (2017)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/evaa.html">Evaa (WIP)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/evertims.html">Evertims (WIP)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/ghost-orchestra.html">Ghost Orchestra (2015)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/glass-house.html">Glass House (2018)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/oculus-project.html">Oculus Project (WIP)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/phd-thesis.html">PhD Thesis (2012 - 2015)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/phend.html">Phend (WIP)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/rasputin.html">Rasputin (WIP)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/roomz.html">RoomZ (WIP)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/scale-head.html">Scale Head (2019)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/small-devs.html">Small Devs (WIP)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/sonicom.html">Sonicom (WIP)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/soundscape-interaction.html">SoundScape Interaction (2015)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/square.html">Square (WIP)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/teaching.html">Teaching (WIP)</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/tout-un-monde.html">Tout un Monde (2014)</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="" class="page-scroll dropdown-toggle navbar-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Others</a>
                    <ul class="dropdown-menu" style="right: 0; left: auto;">
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/roaming-the-web.html">Roaming the Web</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/small-devs.html">Small Devs - Sneak Peek</a></li>
                        <!-- <li><a href="{{ site.baseurl }}/pages/music.html">Music</a></li> -->
                        <!-- <li><a href="{{ site.baseurl }}/pages/satin-coco.html">Satin Coco</a></li> -->
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="navbar-link" href="{{ site.baseurl }}/pages/publications.html">Publications <!--<span class="caret"></span>--> </a>
                    <!-- <ul class="dropdown-menu" style="right: 0; left: auto;">
                        <li><a href="{{ site.baseurl }}/pages/publications.html">Publications</a></li>
                    </ul> -->
                </li>

                <li class="dropdown">
                    <a href="" class="page-scroll dropdown-toggle navbar-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                    <ul class="dropdown-menu" style="right: 0; left: auto;">
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/cv.html">CV</a></li>
                        <li><a class="navbar-link" href="{{ site.baseurl }}/pages/who-am-i.html">Who am I</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
