<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <li> -->
                <a class="navbar-brand page-scroll" href="{{ site.baseurl }}/#page-top">David Poirier-Q.</a>
            <!-- </li> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="{{ site.baseurl }}/pages/publications.html" class="page-scroll dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RESEARCH<!--<span class="caret"></span>--></a>
                    <ul class="dropdown-menu" style="right: 0; left: auto;">
                        <li><a href="{{ site.baseurl }}/pages/phd-thesis.html">PhD Thesis (2012 - 2015)</a></li>
                        <li><a href="{{ site.baseurl }}/pages/publications.html">Publications</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="{{ site.baseurl }}/pages/tutorial.html" class="page-scroll dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PROJECTS</a>
                    <ul class="dropdown-menu" style="right: 0; left: auto;">
                        <li><a href="{{ site.baseurl }}/pages/cosima.html">CoSiMa (2017)</a></li>
                        <li><a href="{{ site.baseurl }}/pages/evertims.html">EVERTims</a></li>
                        <li><a href="{{ site.baseurl }}/pages/blendervr.html">BlenderVR (2016)</a></li>
                        <li><a href="{{ site.baseurl }}/pages/ghost-orchestra.html">Ghost Orchestra (2015)</a></li>
                        <li><a href="{{ site.baseurl }}/pages/soundscape-interaction.html">SoundScape Interaction (2015)</a></li>
                        <li><a href="{{ site.baseurl }}/pages/building.html">Stupa Phonique (2015)</a></li>
                        <li><a href="{{ site.baseurl }}/pages/tout-un-monde.html">Tout un Monde (2014)</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="{{ site.baseurl }}/pages/tutorial.html" class="page-scroll dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">OTHERS</a>
                    <ul class="dropdown-menu" style="right: 0; left: auto;">
                        <li><a href="{{ site.baseurl }}/pages/small-devs.html">Small Devs - Sneak Peek</a></li>
                        <li><a href="{{ site.baseurl }}/pages/roaming-the-web.html">Roaming the Web</a></li>
                        <li><a href="{{ site.baseurl }}/pages/music.html">Music</a></li>
                        <li><a href="{{ site.baseurl }}/pages/satin-coco.html">Satin Coco</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="{{ site.baseurl }}/pages/tutorial.html" class="page-scroll dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT</a>
                    <ul class="dropdown-menu" style="right: 0; left: auto;">
                        <li><a href="{{ site.baseurl }}/pages/cv.html">Curriculum Vitae</a></li>
                        <li><a href="{{ site.baseurl }}/pages/who-am-i.html">Who am I</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
